.navbar {
    background-image: url('../images/imagen-header-portafolio.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 150px; 
    position: relative;
  }

  
  .navbar a {
    color: white;
    font-weight: bold;
  }

  .navbar-brand {
    color: white 
    font-size: 24px;
  }

  
  .navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
  }

  
  .navbar-content {
    position: relative;
    z-index: 1; 
  }