.navbar {
  background-color: rgb(44, 25, 2);
  background-size: cover;
  height: 50px;
}

.navbar a {
  color: white;
  font-weight: bold;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-content {
  position: relative;
  z-index: 1;
}

.header h1 {
  padding-top: 60px;
  padding-left: 40px;

  font-weight: 600;
  text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black,
    1px 1px 0px black;
  font-style: oblique;
  color: aliceblue;
  font-size: 80px;
}

.header p {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 30px;
  color: aliceblue;
  margin-bottom: 0;
}

#Hero-Section {
  background-image: url("../images/imagen-perfil-cv.png");
  object-fit: contain;
  background-color: rgb(250, 239, 224);
  background-repeat: no-repeat;
  background-size: 400px;
  padding-top: 100px;
  display: flex;
}

.main-header {
  height: 200px;
  padding: 0px;
  font-size: 30px;
  color: whitesmoke;
  background-image: url("../images/imagen-header-portafolio.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  margin: auto;
}
